<% title "Lista de Prendas" %>

<table id="items_table">
  <tr>
    <th>Nome</th>
    <th>Preço</th>
    <th>Descrição</th>
		<th>Localização</th>
		<th>Estado</th>
		<th>Opções</th>
  </tr>
  <% for item in @items %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.description %></td>
			<td><%= item.location %></td>
			<td><%= raw (item.user_name.present? ? ( "Prenda escohido por #{h(item.user_name)}") : "Disponível") %></td>
			<td>
				<% if current_user && current_user.is_admin? %>
		      <%= link_to "Show", item %> |
  		    <%= link_to "Edit", edit_item_path(item) %> |
    		  <%= link_to "Destroy", item, :confirm => 'Are you sure?', :method => :delete %>
					<% if item.user_name.present? %>
					<%= link_to "Remover escolha", unchoose_item_path(item), :method => :put %>
					<% end %>
				<% elsif !item.user_name.present? %>
					<%= link_to "Escolher", choose_item_path(item) %>
	      <% end %>
			</td>
    </tr>
  <% end %>
</table>
<% if current_user && current_user.is_admin? %>
	<p><%= link_to "Nova Prenda", new_item_path %></p>
<% end %>

<style type="text/css">
table#items_table th {
	width: 150px
}
table#items_table td {
	text-align: center
}
</style>
